<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>122936602384-1t6qrja3e4pu9d0se1gv3baa4th0p60m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.122936602384-1t6qrja3e4pu9d0se1gv3baa4th0p60m</string>
	<key>API_KEY</key>
	<string>AIzaSyD5fIKw8VP-i9QkroX7II_a1QMSipzIYtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>122936602384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pukaar.v1community.app</string>
	<key>PROJECT_ID</key>
	<string>pukaar-4988e</string>
	<key>STORAGE_BUCKET</key>
	<string>pukaar-4988e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122936602384:ios:55dc0e29c33a3b31163f95</string>
	<key>DATABASE_URL</key>
	<string>https://pukaar-4988e.firebaseio.com</string>
</dict>
</plist>